.container {
    display:inline-grid;
    border: 0.5px solid red;
}

.container .item {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    border: 0.5px solid red;
    width: 150px;
    height: 150px;
}